body {
    min-height: 100vh;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    text-align: center;
    background: white;
    border-top: solid 2px #624996;
    color: #2BA6CB;
}

footer i {
    color: #624996;
    padding: 1rem 0;
    font-size: 1.5rem !important;
}

.top-bar{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index: 1000;
    padding: 1.2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #4e4080;
    border-bottom: 2px solid #624996;

    margin-bottom: 5rem;
}

.top-bar h1 {
    font-size: 1.3em;
    color: white;
    display: inline-block;
}

.top-bar img {
    display: inline-block;
    margin-right: 1rem;
    margin-top: -7px;
}

button {
    text-transform: uppercase;
}

button:focus{
    outline: none;
}

form{
    width: 90%;
    margin: auto;
}

body{
    padding: 15vh 0;
}

#h button{
    background-color: #624996;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}

#h button:last-child{
    margin-bottom: 0;
}

input:checked ~ .switch-paddle {
    background-color: #624996;
}

.no-item{
    color: darkgrey;
    text-align: center;
    background-color: #f5f5f5;
    padding: 3rem 1rem;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.no-item h2{
    color: inherit;
}

button.button i {
    position: absolute;
    margin-left: 1rem;
}